[submodule "firmware/micropython"]
	path = firmware/micropython
	url = https://github.com/micropython/micropython
[submodule "firmware/esp-idf"]
	path = firmware/esp-idf
	url = https://github.com/espressif/esp-idf.git
